.video.block .video-content {
  text-align: center;
  overflow: hidden;
}

.video.block .video-content iframe {
  height: 560px;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video.block .video-image img {
  height: 560px;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}